@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mcg3m9');
  src:  url('fonts/icomoon.eot?mcg3m9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mcg3m9') format('truetype'),
    url('fonts/icomoon.woff?mcg3m9') format('woff'),
    url('fonts/icomoon.svg?mcg3m9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-read:before {
  content: "\e913";
}
.icon-publish:before {
  content: "\e912";
}
.icon-back:before {
  content: "\e900";
}
.icon-check-box:before {
  content: "\e901";
}
.icon-check-box-h:before {
  content: "\e902";
}
.icon-false:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e905";
}
.icon-loading:before {
  content: "\e906";
}
.icon-message:before {
  content: "\e907";
}
.icon-password:before {
  content: "\e908";
}
.icon-pencil:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-radio:before {
  content: "\e90b";
}
.icon-radio-h:before {
  content: "\e90c";
}
.icon-save:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90e";
}
.icon-success:before {
  content: "\e90f";
}
.icon-upload:before {
  content: "\e910";
}
.icon-warning:before {
  content: "\e911";
}
