@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?shtv1u');
  src:  url('fonts/icomoon.eot?shtv1u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?shtv1u') format('truetype'),
    url('fonts/icomoon.woff?shtv1u') format('woff'),
    url('fonts/icomoon.svg?shtv1u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quill:before {
  content: "\e907";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-search:before {
  content: "\e986";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
